@font-face {
    font-family: deus_ex;
    src: url(fonts/deus_ex.otf);
}

@font-face {
    font-family: cyberpunk;
    src: url(fonts/cyberpunk.ttf);
}

header {
    width: 100%;
    height: 100px;
    background-color: black;
    text-align: center;
    margin-bottom: 50px;
}

header img {
    width: 100%;
    height: auto;
}

body {
    margin: 0;
    padding: 0;
    outline: none;
    background: url(Detroit.jpg), silver;
    background-attachment: fixed;
}

.content {
    width: 100%;
    margin: auto;
    clear: both;
}

.artic {
    background: rgba(0, 0, 0, 0.8);
    font-family: deus_ex;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.table {
    display: inline;
    color: black;
    justify-content: start;
}

.table img {
    width: auto;
    height: 200px;
}

a,
b {
    color: red;
}

table {
    border-spacing: 0px;
    border-collapse: collapse;
    padding: 5px;
}

table tr,
th {
    border: 2px solid Lavender;
    background-color: white;
}

.top {
    background-color: lightblue;
}

h1,
h2 {
    color: white;
    text-align: center;
}

section {
    border-bottom: 1px solid white;
}

#menu {
    margin: 0;
    padding: 0;
    display: block;
    display: flex;
    flex-direction: column;
}

#menu li {
    list-style-type: none;
    display: inline-block;
}

#menu li a {
    text-decoration: none;
    display: block;
}

#menu img {
    width: 100%;
    height: auto;
}

footer {
    width: 100%;
    margin: 0%;
    margin-top: 10px;
    background-color: white;
    color: black;
    font-size: 2em;
    font-family: cyberpunk;
}

.slick-prev:before,
.slick-next:before {
    color: white !important;
}

.slick-dots li button:before {
    color: white !important;
  }

.slick-slide img {
    max-width: 100%;
    border: 1px solid white;
}

.gallery {
    text-align: center;
}

.spoiler-trigger {
    color: #0b70db;
    text-decoration: none;
    padding-left: 15px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAANUlEQVQoU2PkLrj9n4EAYAQp+jpBlRGXOpA8hiJ0TaQrwuY2kDNINwnmcKLchO5LuHWEwgkAlO5FBwhFaI8AAAAASUVORK5CYII=) no-repeat 0 50%;
}

.spoiler-trigger.active {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKklEQVQoU2PkLrj9n4EAYAQp+jpBlRGXOpA8DRRhcxvIGTSyjqDvCIUTAEcINQcERZkIAAAAAElFTkSuQmCC);
}

.spoiler-trigger>span {
    border-bottom: 1px dashed #0b70db;
    padding: 0 3px;
}

.spoiler-trigger:hover>span {
    border-bottom-style: solid;
}

.spoiler-block {
    display: none;
}

@media screen and (orientation: landscape) and (min-width: 720px) {

    header img {
        width: auto;
        height: auto;
    }

    header {
        margin-bottom: 5px;
    }
    
    .content {
        width: 960px;
    }

    table {
        padding: 10px;
    }

    #menu {
        width: 960px;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    #menu img {
        width: auto;
        height: auto;
    }
}